{% load widget_tweaks %}
{% load static %}

<div class="row">
    {% include 'student/profile.html' %}
</div>
<br>

<div class="row">
    <div class="col-md-4 col-xl-6">
        <div class="card bg-c-blue order-card">
            <div class="card-block">
                <h6 class="m-b-20">Available Exams</h6>
                <h2 class="text-right"><i class="fas fa-book f-left"></i><span>{{total_course}}</span></h2>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-xl-6">
        <div class="card bg-c-yellow order-card">
            <div class="card-block">
                <h6 class="m-b-20">Total Questions</h6>
                <h2 class="text-right"><i class="fas fa-question-circle f-left"></i><span>{{total_question}}</span></h2>
            </div>
        </div>
    </div>
</div>