<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    footer {
      position: fixed;
      height: 30px;
      padding: 0px 0px 0px 0px;
      background-color: #212529;
      margin: 0px;
      bottom: 0px;
      left: 250px;
      right: 0px;
    }

    p {
      text-align: center;
    }
  </style>
</head>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
          <p>Copyright &copy; Online Admission Automation System - 2022</p>
        </div>
      </div>
    </div>
  </div>
</footer>

</html>