{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      .content{
        margin-bottom: 0px !important;
        height: 483px;
      }
    </style>
  </head>
  <body>
    {% include "exam/navbar.html" %}
    <br><br><br><br><br>
<!-- <img src="{% static "image/logout_img.png" %}"  style="width:800px; height:100px; padding-left:400px;"> -->

<h2 class="text-center content">Logged Out Successfully. <br> Thank you for using our system!</h2>

{% include "exam/footer.html" %}

  </body>
</html>
